.item-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1.6rem;
  border-bottom: 1px solid var(--rose-100);
}

.remove-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.remove-button svg {
  inline-size: 0.875rem;
  border: 1px solid var(--rose-400);
  border-radius: 999px;
  padding: 0.4rem;
  transition: all 0.1s;
}

.remove-button svg path {
  transition: all 0.1s;
}

.remove-button:hover svg {
  border: 1px solid var(--rose-900);
}

.remove-button:hover svg path {
  fill: var(--rose-900);
}

.item-title {
  color: var(--rose-900);
  font-size: 1.4rem;
  font-weight: var(--wt-semi-bold);
  margin-block-end: 0.8rem;
}

.item-count {
  color: var(--red);
  font-size: 1.4rem;
  font-weight: var(--wt-semi-bold);
}
.item-price {
  color: var(--rose-500);
  font-size: 1.4rem;
  font-weight: var(--wt-regular);
}
.item-total {
  color: var(--rose-500);
  font-size: 1.4rem;
  font-weight: var(--wt-semi-bold);
}

.info-container {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
